header {
     
     width: 90%;
     margin: 1em auto 15vh auto;
     
     box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.3);
     padding: 1em;
     border-radius: 1em;

     
     text-align: center;
     
     
     a {
          
          &:hover {
               color: #5D80FF;
               font-size: 1.8em;
          }
          
          text-decoration: none;
          font-weight: bold;
          font-size: 1.5em;
          color: #8DA7FE;
          
     }
     
}