.home {
     
     width: 80%;
     margin: auto;
     
     
     .introduction {
          
          margin-bottom: 5em;
          
          text-align: center;
          
          .introText {
               
               margin-bottom: 0.25em;
               
               
               h1 {
                    
                    font-size: 5em;
                    margin-bottom: 0.5em;
                    
               }
               
               h2 {
                    
                    font-size: 3.5em;
                    margin-bottom: 0.5em;
                    
               }
               
               p {
                    
                    margin-bottom: 1.5em;
                    font-size: 2em;
                    
                    
                    
               }
               
          }
          
          
          .connextionPages {
               
               
               a {
                    
                    &:hover {
                         
                         padding: 1em;
                         border-radius: 1em;
                         background-color:#5D80FF;
                         
                    }
                    
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 1.5em;
                    color: white;
                    
                    padding: 0.8em;
                    border-radius: 1em;
                    background-color:#8DA7FE;
                    
               }
               
          }
          
          
     }
     
     
     
     
     .introImage {
          
          text-align: center;
          margin-bottom: 10em;
          
          img {
               
               width: 100%;
               
          }
     }
     
}


@media screen and (min-width: 768px) {
     
     
     .home {
          
          display: flex;
          align-items: center;
          justify-content: space-between;
          
          .introduction {
               
               width: calc(50% - 1.5em) ;


               .introText {
                    
                    
                    h1 {
                         
                         font-size: 4em;
                    }
                    
                    h2 {
                         
                         font-size: 2.5em;
                    }
                    
                    p {
                         
                         font-size: 1.5em;
                         
                         
                         
                    }
                    
               }
               
               
               .connextionPages {
                    
                    
                    a {
                         font-size: 1.5em;
                    }
                    
               }
               
               
          }
          
          
          
          
          .introImage {
               width: calc(50% - 1.5em) ;
          }
          
     }     
}