* {
     box-sizing: border-box;
     margin: 0;

}


html, body {
     height: 100%;
     margin: 0;
}

body {
     background-color: #F8FAF9;
     min-height: 100vh;
     display: flex;
     flex-direction: column;
}

main {
     flex: 1;
}

body {
     background-color: #F8FAF9;
}

a,
h1,
h2,
h3,
p {
     font-family:"Roboto", sans-serif;
}


@import 'index';
@import 'header';
@import 'footer';
@import 'register';
@import 'login';
@import 'ranking';
@import 'editTask';

