* {
     box-sizing: border-box;
     margin: 0;

}

body {
     background-color: #F8FAF9;
}

a,
h1,
h2,
p {
     font-family:"Roboto", sans-serif;
}


@import 'index';
@import 'header';
@import 'footer';
